@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #fff9ef;
  --secondary-color: #c69a50;
  --main-text-color: #e09900;
  --main-duration: 0.7s;
  --top-bar-h: 41px;
  --menu-bar-h: 65px;
}

h1 {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-[700] tracking-widest py-4;
}

h2 {
  @apply font-[600] text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-center
}

h3 {
  @apply font-bold
}

p {
  @apply text-sm sm:text-base lg:text-xl text-gray-600;
}

.menu_price {
  @apply text-[#c69a50] font-bold;

}

.floating_container {
  @apply md:shadow-xl md:shadow-gray-400 md:rounded-lg;
}

.floating_container_all {
  @apply shadow-xl shadow-gray-400 rounded-lg mb-8;
}

.main_button {
  @apply uppercase text-base font-[500] px-4 py-2 bg-[var(--secondary-color)] text-white border-[1px] border-[var(--secondary-color)] hover:bg-[var(--main-bg-color)] duration-[var(--main-duration)] hover:text-[var(--secondary-color)] min-w-[150px] cursor-pointer text-center;
}

.secondary_button {
  @apply uppercase text-lg font-[500] border-2 border-white px-4 py-2 hover:bg-[var(--main-bg-color)] duration-[var(--main-duration)] hover:text-black min-w-[150px];
}
