@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #fff9ef;
  --main-text-color: #e09900;
  --main-duration: 0.5s;
}

h1 {
  @apply text-4xl sm:text-6xl font-[700] tracking-widest;
}


p {
  @apply text-lg sm:text-2xl font-[500] text-center;
}

.floating_container {
  @apply md:shadow-xl md:shadow-gray-400 md:rounded-lg;
}

.floating_container_all {
  @apply shadow-xl shadow-gray-400 rounded-lg mb-8;
}
