@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #fff9ef;
  --secondary-color: #c69a50;
  --main-text-color: #e09900;
  --main-duration: 0.7s;
  --top-bar-h: 51px;
  --menu-bar-h: 60px;
  --max-width: 1700px;
}

body {
  @apply bg-[#FFFEF7];
}

h1 {
  @apply text-[30px] font-[400];
}

h2 {
  @apply font-[400] text-[24px] text-center;
}

h3 {
  @apply text-[15px] font-bold tracking-tight;
}

p {
  @apply text-[16px];
}

.menu_price {
  @apply text-[#c69a50] font-bold;

}

.floating_container {
  @apply md:shadow-xl md:shadow-gray-400 md:rounded-lg;
}

.floating_container_all {
  @apply shadow-xl shadow-gray-400 rounded-lg mb-8;
}

/* The main bg button with balck text */
.main_button {
  @apply uppercase px-[20px] py-[10px] bg-[var(--secondary-color)] border-[1px] border-[var(--secondary-color)] hover:bg-[var(--main-bg-color)] duration-[var(--main-duration)] hover:text-[var(--secondary-color)] cursor-pointer text-center text-[15px] leading-[15px];
}

.secondary_button {
  @apply uppercase font-[500] border-[1px] border-white px-[20px] py-[10px] hover:bg-[var(--main-bg-color)] duration-[var(--main-duration)] hover:text-black text-[15px] leading-[15px];
}

.form_label {
  @apply uppercase leading-4 mt-1;
}

.form_input {
  @apply w-full border-[1px] border-black rounded-sm p-2;
}

.sign_up_input {
  @apply w-[85%] mx-auto p-4 border-b-[1px] border-[var(--secondary-color)] focus:outline-[var(--secondary-color)] h-[40px] text-[14px] placeholder-gray-500
}